# Лабораторная работа №3, Архитектура компьютера

- Выполнил
  - Бардин Петр Алексеевич, P3219
- Преподаватель
  - Пенской Александр Владимирович

- `forth | stack | neum | mc | instr | binary | stream | port | pstr | prob1 | cache`
- Базовый вариант

